.title{
font-weight: 600;
font-size: 32px;
letter-spacing: 0.03em;
text-align: center;
color: #0a0f1d;

}


.steps{
    margin-top: 100px;
    .step-title {
        font-size: 16px;
        color: #0A0F1D;
        margin: 32px 0;
    }
    .step-descp {
        color: #000000;
        opacity: .8;
        font-size: 15px;
        height: 80px;
    }
   
   
}
